<div>
  <p><!--placeholder for where the main content body will be inserted when the template is rendered-->
    {{body}}
  </p><!--&mdash;: This is an HTML entity for the em dash (break) character -->
  <p><!--placeholder for the username of the user who created the content -->
    &mdash; {{user.username}}, {{createdAt}}
  </p><!--placeholder for the creation date of the content -->
</div>